

.desc{
    font-size: 13px;
    color: #999999;
}

.Ltitle{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
}
.Btn{
    background-color:#4e71c0
}

.bordered {
    border-bottom: 4px solid red
    
  }