.about-nav li:hover{
    text-decoration:underline;
    
    }
    .about-text1{
        width: fit-content;
        
        
        position: absolute;
        left: 49%;
        top: 60%;
        font-size: 12px;
        
        
     }
    .about-text2{
        top: 50%;
        left: 65%;
        position: absolute;
        width: fit-content;
    
        
        
        font-size: 10px;
    }
    .about-vision{
        position: relative;
        text-align: center;
        color: white;
    }
    .about-grey{
        border: 1px solid #efefef;
        border-radius: 2px;
        background: #F8F8F8;
        margin-top: -45px;
        padding-top: 45px;
        box-shadow: 0px 1px 17px 0px #e9e9e9
    }
    .about-photo4{
        position: absolute;
        left: 4.5%;
        bottom: 38%;
    }
    .about-photo5{
        position: absolute;
        left: 32.25%;
        bottom: 35%;
    }
    .about-photo6{
        position: absolute;
        left: 59%;
        bottom: 22%;
    }
    .about-photo7{
        position: absolute;
        left: 88%;
        bottom: 13%;
        line-height: 20px;
    }
    