.checked {
    color: orange;
  }
.single-firstcol{
   
    border-radius: 4px;
    padding: 0px;
    margin-right: 0px;
}
.single-secondcol{
    
    
    padding: 8px;
    padding-top: 0;
    margin-left: 0px;
    background-color: #F5F5F5;
}
.single-anchor span:hover{
    text-decoration:underline;


}

